<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simuladores</title>
    <link rel="stylesheet" href="./styles/bootstrap.css">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="icon" type="image/x-icon" href="./assets/img/favicon.ico">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="">Simuladores</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                 
                  <li class="nav-item">
                    <a class="nav-link" id="como_funciona" >¿Como funciona?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="estadisticas" >¿En que se basan las estadisticas?</a> 
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/KristichMateo/Simulador-futbol.git">Git hub</a>
                  </li>
                 
                
                </ul>
               
              </div>
            </div>
          </nav>
    </header>
    <main>
        <div id="padre_total">
            <br><br><br>
            <div id="padre" class="container">
                <br><br>
                <div class="row"> 
                    <div class="col-xl-4">
                        <div id="" class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                            <div class="card-body">
                            <h4 id="titulo" class="card-title">Bienvenido</h4>
                            <p  class="card-text">
                                <ul id="ul_dinamico">
                                    <li>Aqui encontraras simuladores de distintas ligas</li>
                                    <li>Puedes visitar el repositorio y descargar el codigo</li>
                                    <li>Se calculan atraves de estadisticas</li>
                                    
                                </ul>
                            </p>
                            </div>
                        </div>
                        <div class="slider_div">
                          <h3></h3>
                            <ul id='slider_ul'>
                                <a href="#"><li class="li"><img className='img' src="./assets/img/bundes.png"></img><h5 class="destino"></h5></li></a>
                                <a href="#"><li class="li"><img className='img' src="./assets/img/premier.png" alt="" /><h5 class="destino"></h5></li></a>
                                <a href="#"><li class="li"><img className='img' src="./assets/img/LPF.png" alt="" /><h5 class="destino"></h5></li></a>
                                <a href="#"><li class="li"><img className='img' src="./assets/img/champions.png" alt="" /><h5 class="destino"></h5></li></a>
                                <a href="#"><li class="li"><img className='img' src="./assets/img/qatar.jpg" alt="" /><h5 class="destino"></h5></li></a>

                              </ul>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="d-grid gap-2">
                            <a id="LPF" class="btn btn-lg btn-primary" type="button" href="LPF.html">  <img class="img_bot" src="./assets/img/LPF.png"> LPF</a>
                            <a id="LPF" class="btn btn-lg btn-primary" type="button" href="Premier_league.html">  <img class="img_bot" src="/templates/assets/img/premier.png">Premier League</a>
                            <a id="LPF" class="btn btn-lg btn-primary" type="button" href="champions.html"  >  <img class="img_bot" src="/templates/assets/img/champions.png"> Champions League</a>
                            <a id="LPF" class="btn btn-lg btn-primary" type="button" href="bundes.html">  <img class="img_bot" src="/templates/assets/img/bundes.png"> Bundes Liga</a>
                            <a id="LPF" class="btn btn-lg btn-primary" type="button" href="mundial.html">  <img class="img_bot" src="/templates/assets/img/qatar.jpg">Mundial</a>


                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </main>
    
    <footer id="footer">
        <div class="container">
            <div id="div_footer" class="row">
              <div id="facebook" class="col-xl-3 col-lg-3 md-3 sm-4">
                <img class="img_footer" src="./assets/img/facebook.png" alt="">
              </div>
              <div class="col-xl-3 col-lg-3 md-3 sm-4">
                <img class="img_footer" src="./assets/img/twitter.png" alt="">
              </div>
              <div class="col-xl-3 col-lg-3 md-3 sm-4">
                <img class="img_footer" src="./assets/img/instagram.png" alt="">
              </div>
              <div class="col-xl-3 col-lg-3 md-3 sm-4">
                <img class="img_footer" src="./assets/img/tik-tok.png" alt="">
              </div>
      
            </div>
        </div>
          
    </footer>
<script src="./scripts/index.js"></script>
</body>
</html>