<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulador</title>
    <link rel="stylesheet" href="/templates/styles/bootstrap.css">
    <link rel="stylesheet" href="/templates/styles/styles.css">
</head>
<h1 id="titulo">Simulador</h1>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Simulador LPF</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Herramientas usadas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Otros simuladores</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div id="padre_total">
    <div id="padre" class="container">
      
     
      <div class="row">
        
      <div class="col-xl-4">
        <br>
            <img src="/templates/assets/img/LPF.png" alt="">    
      </div>
      <div class="col-xl-4">
      <table class="table-primary">
        <!-- filas iniciales -->
      <tr id="fila_inicial">
        <th>
          
        </th>
        <th>
          
        </th>
      </tr>       
      <!-- filas rellenables -->
      </table>
    </div>
    <div class="col-xl-4">
      <img src="/templates/assets/img/AFA.png" alt="">
    </div>
  </div>
      <br>
      <input id="boton" class="btn btn-primary" type="reset" value="Simular">
      <input id="borrar" class="btn btn-primary" type="reset" value="Borrar">


    
      

    </div>
  </div>
    
        <script src="/templates/scripts/script.js"></script>
    </body>
</html>