<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League</title>
    <link rel="stylesheet" href="/templates/styles/bootstrap.css">
    <link rel="stylesheet" href="/templates/styles/PL.css">
    
</head>
<body>
  <header>
    <h1 id="titulo">Simulador Premier League</h1>
  </header>
  <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Premier League</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/templates/index.html">Pagina principal
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <img class="img_bot" src="/templates/assets/img/champions.png" alt=""> Champions League</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/LPF.html"> <img class="img_bot" src="/templates/assets/img/LPF.png" alt="">LPF</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/bundes.html"> <img class="img_bot" src="/templates/assets/img/bundes.png" alt="">Buendesliga</a>
            </li>
            
          </ul>
          
        </div>
      </div>
    </nav>
    <div id="padre_total">
      <br><br>
      <div id="padre" class="container">
        
      
        <div class="row">
          
        <div class="col-xl-4">
          <br>
              <img class="img-main" src="/templates/assets/img/premier.png" alt="">    
        </div>
        <div class="col-xl-4">
        <table id="tabla" class="table-primary">
          <!-- filas iniciales -->
        <tr id="fila_inicial">
          <th>
            Equipo
          </th>
          <th>
            Puntos
          </th>
        </tr>       
        <!-- filas rellenables -->
        </table>
      </div>
      <div id="columna_AFA" class="col-xl-4">
        <img id="afa" class="img-main" src="/templates/assets/img/inglaterra.png" alt="">
        <br>
        <br><br>
        <div id="copas" class="col-xl-4">
          <div id="campeon_color"><h3>Campeon</h3></div> 
          <div class="Libertadores_color"><h3>Champions League</h3></div> 
          <div class="Sudamericana_color"><h3>Europa League</h3></div> 
          <div class="Nada_color"><h3>Permanencia</h3></div> 
          <div class="descensos_color"><h3>Descensos</h3></div> 
        </div>
      </div>
      <div class="columna_relleno" class="col-xl-4">
      </div>
      <div class="columna_relleno" class="col-xl-4">
      </div>
      
    </div id="botones">
      <br>
      <input id="boton" class="btn btn-primary" type="reset" value="Simular">
      <input id="borrar" class="btn btn-primary" type="reset" value="Borrar">
    </div>
  </main>
  <footer id="footer">
  <div class="container">
      <div id="div_footer" class="row">
        <div id="facebook" class="col-xl-3 col-lg-3 md-3 sm-4">
          <img class="img_footer" src="/templates/assets/img/facebook.png" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 md-3 sm-4">
          <img class="img_footer" src="/templates/assets/img/twitter.png" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 md-3 sm-4">
          <img class="img_footer" src="/templates/assets/img/instagram.png" alt="">
        </div>
        <div class="col-xl-3 col-lg-3 md-3 sm-4">
          <img class="img_footer" src="/templates/assets/img/tik-tok.png" alt="">
        </div>

      </div>
  </div>
    
  </footer>
  
    
        <script src="/templates/scripts/PL.js"></script>
    </body>
</html>